include lsltools/liblsl32.dll
include lsltools/liblsl32.dylib
include lsltools/liblsl64.dll
include lsltools/liblsl64.dylib
include lsltools/liblsl64.so
include LICENSE
include README.md
include requirements.txt
